img {
    max-width: 100%;
}

span {
    font-weight: 500;
}

.img_style {
    max-width: 100%;
    margin-bottom: 1rem;
}


.span_style {
    display: block;
    padding-top: 1rem;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}

.card_header {
    overflow-y: hidden;
    aspect-ratio: 1;
}

.col_2 {
    width: calc(100% / 12 * 2);
    padding: 1rem;
}