* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
}

/* #region header  */

#site_header {
  padding: 2rem 0;

  .col {
    width: 50%;

    img {
      max-width: 5rem;
      height: auto;
    }

    ul {
      display: flex;
      list-style: none;
      gap: 20px;

      a {
        text-decoration: none;
      }
    }
  }
}

/* #endregion header  */

/* #region main  */

#site_main {
  padding: 2rem 0;
}

/* #endregion main  */